<nav class="navbar navbar-light navbar-expand-md text-end">
    <div class="container-fluid"><a class="navbar-brand" href="index.html">Expediente Clínico Digital</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse text-end" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active"  routerLink="/inicio">Inicio</a></li>
                <li class="nav-item"><a class="nav-link"  routerLink="/aboutus">Conócenos</a></li>
                <li class="nav-item"><a class="nav-link"  routerLink="/transparent">Transparencia</a></li>               
                <li class="nav-item"><a class="nav-link"  routerLink="/login">Iniciar sesión</a></li>
            </ul>
        </div>
    </div>
</nav>
<div id="textointro">
    <section class="text-center highlight-clean">
        <div class="container text-center">
            <div class="intro">
                <h2 class="text-center" data-aos="zoom-in">Regístrate para que puedas consultar tu información clínica</h2>
                <p class="text-center" data-aos="zoom-out">Inicia sesión e ingresa tu información básica, bienvenido a tu expediente clínico digital.</p>
            </div>
            <div class="buttons"><a class="btn btn-primary" role="button" data-bss-hover-animate="pulse" routerLink="/login">iNICIAR SESIóN</a><button class="btn btn-light" data-bss-hover-animate="pulse" type="button" routerLink="/register">Registrarse</button></div>
        </div>
    </section>
</div>
<section class="features-boxed">
    <div class="container text-center">        
        <div class="intro-center">            
                    <div class="container" style="width: 800px;">
                        <div class="intro">
                            <h2 class="text-center" data-aos="fade" data-aos-duration="950" id="conocenos-ref"
                                style="color: rgb(49, 52, 55);">Conócenos</h2>
                        </div>
                        <div>
                            <p class="text-center" data-aos="fade" data-aos-duration="900" data-aos-offset="10"
                                style="color: rgb(125, 130, 133);">El proyecto es desarrollado por un equipo de estudiantes de Ingeniería en
                                Sistemas Computacionales del Instituto Tecnológico de Tepic, este surge al observar la necesidad de
                                implementar un expediente clínico electrónico como una herramienta crucial en la construcción de un sistema
                                de gestión hospitalaria más eficiente y confiable.</p>
                            <div style="padding:0px 0px 30px 0px"></div>
                            <div style="width:auto;height:0px;border-color:#2195f336;border-width:0.1px;border-style:solid;"></div>
                            <h2 class="text-center" data-aos="fade" data-aos-duration="950">Propósito</h2>
                            <p class="text-center" data-aos="fade" data-aos-duration="900">El expediente clínico digital sirve para
                                recopilar y almacenar información relevante del paciente de forma ordenada y sistemática, con el propósito
                                de brindar asistencia y soluciones a las necesidades y problemas que enfrentan los médicos en relación al
                                manejo y acceso a dicha información, misma que es de vital importancia al momento de llevar a cabo sus
                                actividades.<br></p>

                                <section class="features-boxed">
                                    <div class="container">
                                        <div class="intro">
                                            <h2 class="text-center" data-aos="fade" data-aos-duration="950">Funcionalidades</h2>
                                            <p class="text-center" data-aos="fade" data-aos-duration="900"><br>Con cada una de estas herramientas se
                                                espera dar una experiencia superior a cada paciente.<br><br></p>
                                        </div>
                                        <div class="row justify-content-center features">
                                            <div class="col-sm-6 col-md-5 col-lg-4 item">
                                                <div data-bss-hover-animate="pulse" class="box"><i class="fa fa-search icon"></i>
                                                    <h3 class="name">Consulta tu expediente clínico</h3>
                                                    <p class="description">Obtén acceso a tu información en cualquier lugar y momento.<br><br><br></p><a
                                                        class="learn-more" routerLink="/search">Vamos allá »</a>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-5 col-lg-4 item">
                                                <div data-bss-hover-animate="pulse" class="box"><i class="fa fa-crosshairs icon"></i>
                                                    <h3 class="name">Registro de información actualizada</h3>
                                                    <p class="description">Cada doctor podrá agregar información correspondiente a su expediente
                                                        clínico.</p><a class="learn-more" routerLink="/register1">Vamos allá »</a>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-5 col-lg-4 item">
                                                <div data-bss-hover-animate="pulse" class="box"><i class="fa fa-download icon"></i>
                                                    <h3 class="name">Descarga de documentación clínica&nbsp;</h3>
                                                    <p class="description">La descarga de información será primordial para los
                                                        pacientes y doctores.</p><a class="learn-more" routerLink="/search">Vamos allá »</a>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                
                                </section>
                            <div style="padding:0px 0px 30px 0px"></div>
                            <div style="width:auto;height:0px;border-color:#2195f336;border-width:0.1px;border-style:solid;"></div>
                                                        <h2 class="text-center" data-aos="fade" data-aos-duration="950">Funcionalidades</h2>
                            <p class="text-center" data-aos="fade" data-aos-duration="900">Con cada una de estas herramientas se espera dar
                            una experiencia superior al usuario<br></p>
                            <div style="padding:0px 0px 30px 0px"></div>
                            <div style="width:auto;height:0px;border-color:#2195f336;border-width:0.1px;border-style:solid;"></div>
                            <h2 class="text-center" data-aos="fade" data-aos-duration="950">Antecedentes</h2>
                            <p class="text-center" data-aos="fade" data-aos-duration="900">Históricamente, el expediente clínico, es “el conjunto
                            de información ordenada y detallada que recopila cronológicamente todos los aspectos relativos a la salud de un paciente 
                            y a la de su familia en un periodo determinado de su vida; representa una base para conocer las condiciones de salud, los
                            actos médicos y los diferentes procedimientos ejecutados por el equipo médico a lo largo de un proceso asistencial”. Con 
                            el avance de las ciencias y la tecnología, este concepto evoluciona, considerándose como un Sistema Informático que almacena 
                            los datos del paciente en formato digital, que se almacenan e intercambian de manera segura y puede ser accedido por múltiples
                             usuarios autorizados.<br></p>
                            <div style="padding:0px 0px 30px 0px"></div>
                            <div style="width:auto;height:0px;border-color:#2195f336;border-width:0.1px;border-style:solid;"></div>
                        </div>
                        <h2 class="text-center" data-aos="fade" data-aos-duration="950" style="margin: 0px 0px 15px;">Justificacion</h2>
                        <p class="text-center" data-aos="fade" data-aos-duration="900"><br>El contar con un expediente clínico electrónico constituye una de las mayores aspiraciones por parte de las
                        Instituciones del Sistema Nacional de Salud (SNS), en la medida que su manejo incrementa sensiblemente la seguridad en
                        la atención de los pacientes al contar con información más oportuna y precisa sobre la salud-enfermedad de la población
                        usuaria favoreciendo con ello que la atención médica sea más eficaz y segura.<br><br></p>      
                            <div style="padding:0px 0px 30px 0px"></div>
                            <div style="width:auto;height:0px;border-color:#2195f336;border-width:0.1px;border-style:solid;"></div>
                            <h2 class="text-center" data-aos="fade" data-aos-duration="950">Objetivos</h2>
                            <p class="text-center" data-aos="fade" data-aos-duration="900">Fortalecer el Expediente Clínico a fin de mejorar la calidad de la prestación de servicios médicos, seguridad del
                            paciente y pronta atención a situaciones emergentes ya se en México o en el entorno privado, con estricto apego a los
                            principios de licitud, consentimiento, calidad, disponibilidad, confidencialidad y seguridad de datos personales.
                            Afianzar de manera electrónica los datos sobre la salud del paciente, permitiendo contar con información clínica precisa
                            y esencial disponible, evitando el deterioro, maltrato, extravío e ilegibilidad de expedientes clínicos tradicionales,
                            manteniendo en todo momento información de salud actualizada y veraz.<br></p>
                    </div>
           
        </div>



        <br>
        <div _ngcontent-qwa-c48=""  style="width: auto; height: 0px; border-color: #2195f336; border-width: 0.1px; border-style: solid;"></div>
        <br>
        <br>
    </div>
</section>
<div></div>
<br>
<section class="team-grid">    
    <div class="container">
        
        <div class="intro">
            <br>
            <h3 class="text-center">Desarrolladores</h3>
            <p class="text-center">Ingenieros del Tecnológico Nacional de México Campus Tepic</p>
        </div>
        <div class="row people">
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(assets/img/alison.jpg)">
                    <div class="cover">
                        <h3 class="name">Allison</h3>
                        <p class="title">Ing en sistemas computacionales</p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(assets/img/bianca.jpeg)">
                    <div class="cover">
                        <h3 class="name">Bianca</h3>
                        <p class="title">Ingeniera en sistemas computacionales</p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(assets/img/alexis.jpeg)">
                    <div class="cover">
                        <h3 class="name">Alexis Salas</h3>
                        <p class="title">Ingeniero en sistemas computacionales</p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(assets/img/darien.jpeg)">
                    <div class="cover">
                        <h3 class="name">Darien Rafael</h3>
                        <p class="title"><br><strong>INGENIERO EN SISTEMAS COMPUTACIONALES</strong><br><br></p>
                        <div class="social"><a href="https://www.facebook.com/airdel.marquez/"><i class="fa fa-facebook-official"></i></a><a href=""><i class="fa fa-twitter"></i></a><a href="https://www.instagram.com/darien_marquez/"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 offset-lg-4 item">
                <div class="box" style="background-image:url(assets/img/brayan.jpg)">
                    <div class="cover">
                        <h3 class="name">BRAYAN ADAN</h3>
                        <p class="title"><br><strong>INGENIERO EN SISTEMAS COMPUTACIONALES</strong><br><br></p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>